<div
  id="studiobosco-backendnotifications-ask-notification-permission-popup"
  class="control-popup modal fade"
  role="dialog"
  aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body p-a">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p><?= Lang::get('studiobosco.backendnotifications::lang.enable_notifications_text'); ?></p>
                <button
                  id="studiobosco-backendnotifications-ask-notification-permission-button"
                  type="button"
                  class="btn btn-primary"
                >
                <?= Lang::get('studiobosco.backendnotifications::lang.enable_notifications'); ?>
            </div>
        </div>
    </div>
</div>
