<div class="notifications-list control-list list-scrollable" data-control="listwidget">
    <?php if (count($records)): ?>
        <?= $this->makePartial('list_body_rows') ?>
    <?php else: ?>
        <p class="no-data"><?= $noRecordsMessage ?></p>
    <?php endif ?>

    <?php if ($showPagination): ?>
        <div class="list-footer">
            <div class="list-pagination">
                <?php if ($showPageNumbers): ?>
                    <?= $this->makePartial('list_pagination') ?>
                <?php else: ?>
                    <?= $this->makePartial('list_pagination_simple') ?>
                <?php endif ?>
            </div>
        </div>
    <?php endif ?>
</div>
